* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/*  Sintaxe media query */
@media screen and (max-width: 500px) {
  /* MAX WIDTH = TELA MENOS QUE ALGUMA RESOLUÇÃO */

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #03989e;
}

a:active{
  color: #333;
}

.img_logo_branco{
  position: absolute;
  left:0px;
}

.cabecalho{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  padding: 10px 70px 10px 10px;
  margin: 15px;
  font-size: 25px;
  text-decoration: none;
  color: currentColor;
}

.menu_Categorias{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  padding: 1px 10px 1px 10px;
  text-decoration: none;
  color: inherit;
}

.container_outdoor_Rosan{
  background-color:#03989e;
  padding: 40px;
  margin: 1px -210px 1px -210px;
}

.titleRosan{
  font-size:45px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.subtitleRosan{
  font-size:25px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCarousel{
  width: 500px;
  height: 500px;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
 width: 800px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left:0;
}

#radio2:checked ~ .first{
  margin-left:-25%;
}

#radio3:checked ~ .first{
  margin-left:-50%;
}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position:absolute;
  width: 800px;
  margin-top:360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:Last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}


/*
/* 480px - 768px = tablet /*
@media (min-width: 480px) {
  h5 {
    color: burlywood;
  }
}

/* 768px - 1024px = telas menores, laptops /*
@media (min-width: 768px) {
  h5 {
    color: cadetblue;
  }
}

/* 1024px - 1200px = desktop /*
@media (min-width: 1024px) {
  h5 {
    color: coral;
  }
}

/* 1200 e + = telas maiores, tvs /*
@media (min-width: 1200px) {
  h5 {
    color: darkorchid;
  }
}
*/